.column{
  font-family: sans-serif;
  float: left;
  width: 300px;
  padding: 40px;
  }
  #ik{
    color: black;
    border: 12px  solid black;
    padding: 8px;
    margin: 10px
  }
  body{
    background-color: grey;
  }
#footer{
  background-color: black;
  color: white;
  text-align: left;
  padding: 0.02px;
}
.f{
  color:white;
  border-color: black;
}
@@media screen and (min-width:300px;) {
      body{
        background-color: black;
        color: white;
      }
}
