.column{
  float: left;
  width: 300px;
  padding: 20px;
  }
  #ik{
    color: black;
    border: 10px  solid black;
    padding: 8px;
    margin: 10px
  }
  body{
    background-color: grey;
  }
#footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
